<!doctype html>
<html lang="en">

{% extends 'base_head.html' %}
{% block content %}

<body>
    <a name="1F"></href>
        <nav class="navbar  navbar-expand-lg fixed-top navbar-light bg-light" style="height:100px;text-align:left">

            <a href="{{url_for('browse.browse_home')}}">
                <img src="https://static.dutbit.com/img/scsx.png" width="36px" height="36px" />
            </a>
            <strong>进销存管理系统</strong>

            <nav class="nav nav-pills nav-fill">
                <a class="nav-item nav-link" href="#2F">订单查询</a>
            </nav>

            <ul class="navbar-nav  ml-auto" style="right:51%;">
                <li class="nav-item">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('index.logout')}}">退出登录</a>
                </li>
                </li>
            </ul>
        </nav>
        <div class="jumbotron" style=" position:relative; top:50px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-26 offset-lg-23 col-md-18 offset-md-12 col-sm-10 offset-sm-1">

                        
                        <div style="text-align:center;margin-top:20px">
                            <p style="margin-top:20px;font-size:20px">
                                <strong>订单查询</strong>
                            </p>
                        </div>
                        <form action="{{url_for('browse.browse_order')}}" method="GET">
                            <div style="margin-top:40px" class="container">
                                <div class="row">
                                    <div class="col-4">
                                        <span class="badge badge-secondary">订单编号</span><br>
                                        <input type="text" name="order_id" style="width: 200px;">
                                    </div>
                                    <div class="col-4">
                                        <span class="badge badge-light">员工编号</span><br>
                                        <input type="text" name="staff_id" style="width: 200px;">
                                    </div>
                                    <div class="col-4">
                                        <span class="badge badge-info">采购时间</span><br>
                                        <input type="text" name="time" style="width: 200px;">
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top:10px" class="container">
                                <div class="row">
                                    <div class="col-4">
                                        <span class="badge badge-info">采购明细号</span><br>
                                        <input type="text" name="order_detail_id"style="width: 200px;">
                                    </div>
                                    <div class="col-4">
                                        <span class="badge badge-dark">商品编号</span><br>
                                        <input type="text" name="merchandise_id"style="width: 200px;">
                                    </div>
                                    <div class="col-4">
                                        <span class="badge badge-info">备注</span><br>
                                        <input type="text" name="comment"style="width: 200px;">
                                    </div>
                                </div>
                            </div>
                            <br>

                            <button type="submit" class="btn btn-success btn-lg btn-block" style="margin-top:10px"
                                id="doSearch">
                                <span style="font-size:17px">查询订单</span>
                            </button>
                            <br>
                            <hr class="my-4">
                        </form>
                    </div>
                </div>
            </div>
            <div id="disptable" style="display:block">
                <div style="text-align:center;margin-top:20px">
                    <p style="margin-top:20px;font-size:20px">
                        <strong>查询信息显示</strong>
                    </p>
                </div>
                {% for res in result %}
                <div class="row">
                    <div class="col-md-4 col-xs-12 col-sm-12" style="padding:0">
                        总订单信息
                        <table class="table table-dark" style="margin:0">
                            <thead>
                                <tr>
                                    <th scope="col">采购清单号</th>
                                    <td>员工编号</td>
                                    <td>采购数量</td>
                                    <td>采购总价</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{res.main.order_id}}</td>
                                    <td>{{res.main.staff_id}}</td>
                                    <td>{{res.main.gross_quantity}}</td>
                                    <td>{{res.main.gross_price}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-dark" style="margin:0">
                            <thead>
                                <tr>
                                    <th scope="col">采购时间</th>
                                    <th scope="col">备注</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{res.main.time}}</td>
                                    <td>{{res.main.comment}}</td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-8 col-xs-12 col-sm-12">
                        分订单信息
                        <table class="table table-dark" style="margin-bottom: 0;margin-top:0">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>采购明细号</th>
                                    <th>商品编号</th>
                                    <th>采购数量</th>
                                    <th>商品单价</th>
                                    <th>商品总价</th>
                                    <th>备注</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for detail in res.details%}
                                <tr>
                                    <th>{{loop.index}}</th>
                                    <td>{{detail.order_detail_id}}</td>
                                    <td>{{detail.merchandise_id}}</td>
                                    <td>{{detail.merchandise_quantity}}</td>
                                    <td>{{detail.unit_price}}</td>
                                    <td>{{detail.gross_price}}</td>
                                    <td>{{detail.gross_price}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>

                </div>
                <hr>
                {% endfor %}
            </div><br>
            <p style="font-size:10px"><em>&copy; 2020 普通上班组</em></p>

        </div>
        </div>
        <div style="position:fixed; bottom: 50px; right: 0">
            <a href="#" class="btn btn-outline-info stretched-link">返回顶部</a>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table-locale-all.min.js"></script>
        <script
            src="https://unpkg.com/bootstrap-table@1.18.0/dist/extensions/export/bootstrap-table-export.min.js"></script>
        <script>
            function start_update(s) {
                $("#myModalLabel").text('修改订单');
                let targetURL = "/manage/orderinfo"
                fetch(`${targetURL}/${s}`).then(res => res.json()).then((jsondata) => {
                    while (index > 1) {
                        deleteRow()
                    }

                    $("#itemtr" + index).remove();
                    index--;
                    $("#updateflag").prop('value', '123')
                    $("#updateorderid").prop('value', s)
                    Object.keys(jsondata.order).map(key => {
                        //console.log(key)
                        $(`[name='${key}']`).prop('value', jsondata.order[key])
                    })
                    Object.keys(jsondata.details).map(key => {
                        console.log(key)
                        let d = jsondata.details
                        var html = `<tr id='itemtr##'>\
                        <td>##</td>\
                        <td><input type='text' name='order_detail_id[]' value='${d[key]["order_detail_id"]}'></td>\
                        <td><input type='text' name='merchandise_id[]' value='${d[key]["merchandise_id"]}'></td>\
                        <td><input type='text' name='merchandise_quantity[]' value='${d[key]["merchandise_quantity"]}'></td>\
                        <td><input type='text' name='unit_price[]' value='${d[key]["unit_price"]}'></td>\
                        <td><input type='text' name='detail_gross_price[]' value='${d[key]["gross_price"]}'></td>\
                        <td><input type='text' name='detail_comment[]' value='${d[key]["comment"]}'></td>\
                        </tr>`;
                        index++;
                        var newhtml = html.replace(/##/g, index);
                        $("#itemtr" + (index - 1)).after($(newhtml))
                    })

                }).catch(err => {
                    msgFail("查询失败")
                    console.log(err)
                })
                $("#myModal").modal('show')
            }
            $(document).ready(function () {
            });
            $("#toggleModal").click(function (e) {

                while (index > 1) {
                    deleteRow()
                }

                $("#updateflag").prop('value', '')
                $("#updateorderid").prop('value', '')
                e.preventDefault()
                $("#myModalLabel").text('添加订单');
                $("#hiddenidinput").prop('value', '');
                $(":input").prop('value','')
                $(".modal [name='comment']").prop('value', '');
                $(".modal [name='contact_phone']").prop('value', '');
                $(".modal [name='contact']").prop('value', '');
                $(".modal [name='email']").prop('value', '');
                $(".modal [name='telephone']").prop('value', '');
                $(".modal [name='address']").prop('value', '');
                $(".modal [name='name_short']").prop('value', '');
                $(".modal [name='name']").prop('value', '');
                $(".modal [name='supplyer_id']").prop('value', '');
            })
            $("#addnew").click(function (e) {
                e.preventDefault()

                let form = $("[name='newOrderForm']")
                let targetURL = form.attr("action")
                let data = form.serialize()
                $.ajax({
                    type: 'POST',
                    url: targetURL,
                    cache: false,
                    data: data,
                    dataType: 'json',
                    success: function (res) {
                        console.log(res)
                        $("#myModal").modal('hide')
                        if (res.success === true) {
                            //$(".toast").toast('show')
                            msgOK("添加成功")
                            $("#table").bootstrapTable('refresh');
                        } else {
                            msgFail("添加失败")
                        }
                    },
                    error: function (err) {
                        console.log('error:', err)
                    }
                })
            })

        </script>
</body>
{% endblock %}

</html>