<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css">
    
    <title>Hello, world!</title>
</head>

<body>
    <!--注册用modal-->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">注册</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="regModalAlert"></div>
                    <div class="input-group flex-nowrap">
                        <input type="text" id="emailInput" class="form-control" placeholder="电话号码" aria-label="Username"
                            aria-describedby="addon-wrapping" required>
                    </div>
                    <div class="input-group flex-nowrap">
                        <input type="text" id="usernameInput" class="form-control" placeholder="名字"
                            aria-label="Username" aria-describedby="addon-wrapping" required>
                    </div>
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><a href="#"
                                    onmouseover="handlePswMouseover(1)" onmouseout="handlePswMouseover(0)">
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABPklEQVRIie3UvS5EURQF
                                4E/PeAKEUPupKIkpBLWX0OrQ8BSIBxBCRWOERFQkOhqNKBCJwVRTGMU9N3Nzw50j085KdnGyV9baP+ccOuigXXQV5EooYw5jGEBvyFXxiFsc4xSfsaZjOEAdjcio
                                Yx+jRcL9OMT3P4Tz8R2K68uLz+K5DeF8vGE+FV9ps+qibpb9MesbLKIWIVQL3Jtfck/+EOkJ3X1FGKS3p/RL7gqW8IBrvIZEehvOIgwqgTsezs84wRFG5LAbSKv
                                hvBBhkC5zPZx38qJZlAPpJTOmzQLxjcDpzXQ/XWQAl4G4p/nSFySj+ApRyVTeJXlkDVy0EodhfGRMSgXcUkb8HUMxBjAl+W8aktZXJUvsDjGBNc2xVDEZK55iSN
                                JyqyWfY/C/4lnMYBv3kjdTwx22RCy0g5b4AfVhyEUlDw9tAAAAAElFTkSuQmCC" height="20px"
                                        width="20px" />
                                </a></span>
                        </div>
                        <input type="password" id="passwordInput" class="form-control" placeholder="密码"
                            aria-label="Username" aria-describedby="addon-wrapping" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="handleRegSubmit()">提交</button>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">供销存管理系统</h1>
            <p class="lead">普通上班组</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <!-- <a class="btn btn-primary btn-lg" href="#" role="button">登录</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">注册</a> -->
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
                    <div style="text-align:center;margin-top:20px">
                        <img src="https://static.dutbit.com/img/dutbit-png.png" width="36px" height="36px" />
                        <p style="margin-top:20px;font-size:20px">
                            <strong>登陆DUTBIT</strong>
                        </p>
                    </div>
                    <div id="alertDiv">
                    </div>
                    <div class="input-group flex-nowrap" style="margin-top:10px">
                        <input type="text" id="emailInputLogin" class="form-control" placeholder="电话号码"
                            aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap" style="margin-top:10px">
                        <input type="password" id="passwordInputLogin" class="form-control" placeholder="密码"
                            aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                    <button type="button" id="loginButton" class="btn btn-primary btn-lg btn-block"
                        onclick="handleLoginSubmit()" style="margin-top:10px">
                        <span class="" id="loginSpinner" role="status" aria-hidden="true"></span>
                        <span class="" id="loginText" style="font-size:17px">登陆</span>
                    </button>

                    <div style="text-align:center;margin-top:20px">
                        <span><a>忘记密码？</a></span>
                        <span><strong>·&nbsp;</strong></span>
                        <span><a href="#" data-toggle="modal" data-target="#registerModal">注册</a></span>
                    </div>
                    <!--
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block" data-toggle="modal" data-target="#registerModal" style="font-size:17px;margin-top:10px">注册</button>
                -->
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://static.dutbit.com/md5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script>
    <script>
        let LOGIN_URL = "{{login_url}}"
        let REGISTER_URL = "{{register_url}}"
        var passwordMinLength = 1
        let handlePswMouseover = (a) => {
            if (a === 1) {//mouse over,show password
                $("#passwordInput").attr("type", "text");
            } else {//
                $("#passwordInput").attr("type", "password");
            }
        }
        function ValidateEmail(email) {
            //let reg = /^1[3456789]d{9}$/;
            let reg = /^\d+$/;
            //if(reg.test(email)){return true}else{return false}
            return reg.test(email)
        }
        let doAlert = (strongInfo, weakInfo, to = "") => {
            let alertHtml = `<div class="alert alert-warning alert-dismissible fade show btn-block" role="alert"><span>${weakInfo}</span><strong>${strongInfo}</strong>` +
                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                '<span aria-hidden="true">&times;</span></button></div>'
            //console.log(strongInfo,weakInfo,to)
            let targetId = "alertDiv"
            if (to !== "") {
                targetId = to
            }
            $(`#${targetId}`).html(alertHtml)
            $('.alert').alert()
        }
        let clearInput = () => {
            $("#emailInput").val('');
            $("#usernameInput").val('');
            $("#passwordInput").val('');
        }
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }
        let md5enc = (str) => {
            return hex_md5('dutbit' + hex_md5(str) + '稍有常识的人')
        }
        let handleRegSubmit = () => {
            let email = $("#emailInput").val()
            let password = $("#passwordInput").val()
            let username = $("#usernameInput").val()
            if (!username) {
                doAlert("用户名不可为空", "错误：", to = "regModalAlert")
                return;
            }
            if (!ValidateEmail(email)) {
                doAlert("邮箱格式不正确", "错误：", to = "regModalAlert")
                return;
            }
            if (password.length < passwordMinLength) {
                doAlert("密码过短", "错误：", to = "regModalAlert")
                return;
            }
            let result = {
                "name": username,
                "password": md5enc(password),
                "telephone": email
            }
            fetch(REGISTER_URL, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(result)
            }).then(res => res.json()).then(jsonData => {
                console.log(jsonData)
                if (jsonData.success === true) {
                    $('#registerModal').modal('hide')
                    doAlert(`注册成功 ${email}`, '')
                    $("#emailInputLogin").val(email)
                    clearInput()
                    console.log('reg success')
                } else {
                    doAlert(jsonData.details, '错误：', to = "regModalAlert")
                }
            }).catch(err => {
                doAlert("网络错误" + err, '错误:', to = "regModalAlert")
                console.log(err)
            })
        }
        let handleLoginSubmit = () => {
            let email = $("#emailInputLogin").val()
            let password = $("#passwordInputLogin").val()

            $("#loginText").addClass("sr-only")
            $("#loginSpinner").addClass("spinner-grow spinner-grow-md")
            if (!ValidateEmail(email)) {
                doAlert("邮箱格式不正确", "错误：")
                return;
            }
            let result = {
                "email": email,
                "password": md5enc(password)
            }

            fetch(LOGIN_URL, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(result)
            }).then(res => res.json()).then(jsonData => {
                console.log(jsonData)
                if (jsonData.success === true) {
                    
                } else {
                    doAlert(jsonData.details, '错误:')

                    $("#loginText").removeClass("sr-only")
                    $("#loginSpinner").removeClass("spinner-grow spinner-grow-md")
                }
            }).catch(err => {
                doAlert("网络错误" + err, '错误:')

                $("#loginText").removeClass("sr-only")
                $("#loginSpinner").removeClass("spinner-grow spinner-grow-md")
                console.log(err)
            })

        }
    </script>
</body>

</html>