{% extends 'base.html' %}
{% block content %}
<form method="POST">
    <table>
        <tr>
            <th>订单编号</th>
            <th>员工编号</th>
            <th>采购数量</th>
            <th>采购总价</th>
            <th>采购时间</th>
            <th>备注</th>
        </tr>
        <tr>
            <td><input type="text" name="order_id"></td>
            <td><input type="text" name="staff_id"></td>
            <td><input type="text" name="gross_quantity"></td>
            <td><input type="text" name="gross_price"></td>
            <td><input type="text" name="time"></td>
            <td><input type="text" name="comment"></td>
            <th><input type="submit" value="提交" /></th>
        </tr>
    </table>
    <button type="button" onclick="addRow()">新增一行</button>
    <button type="button" onclick="deleteRow()">删除一行</button>
    <table>
        <tr id="itemtr0">
            <th>序号</th>
            <th>订单明细号</th>
            <th>商品编号</th>
            <th>采购数量</th>
            <th>商品单价</th>
            <th>商品总价</th>
            <th>备注</th>
        </tr>
    </table>
</form>
<script>
    var index = 0;//初始下标
    var html = "<tr id='itemtr##'>\
                <td>##</td>\
                <td><input type='text' name='order_detail_id[]'></td>\
                <td><input type='text' name='merchandise_id[]'></td>\
                <td><input type='number' name='merchandise_quantity[]'></td>\
                <td><input type='text' name='unit_price[]'></td>\
                <td><input type='text' name='detail_gross_price[]'></td>\
                <td><input type='text' name='detail_comment[]'></td>\
                </tr>";
    //添加第一行
    index++;
    var newhtml = html.replace(/##/g, index);//把##替换成数字
    $("#itemtr" + (index - 1)).after($(newhtml));
    //新增一行
    function addRow() {
        index++;
        var newhtml = html.replace(/##/g, index);//把##替换成数字
        $("#itemtr" + (index - 1)).after($(newhtml));
    }

    //删除一行
    function deleteRow(inde) {
        if (index > 1) {
            $("#itemtr" + index).remove();
            index--;
        }
    }
</script>
{% endblock %}