<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>添加订单</title>
</head>

<body>
    <form method="POST">
        <table border="1">
            <tr>
                <th>采购清单号</th>
                <th>员工编号</th>
                <th>采购数量</th>
                <th>采购总价</th>
                <th>采购时间</th>
                <th>备注</th>
            </tr>
            <tr>
                <td><input type="text" name="id"></td>
                <td><input type="text" name="staff_id"></td>
                <td><input type="text" name="gross_quantity"></td>
                <td><input type="text" name="gross_price"></td>
                <td><input type="text" name="time"></td>
                <td><input type="text" name="remark"></td>
            </tr>
        </table>
        <p><input type="submit" value="提交" /> </p>
    </form>
</body>

</html>