{% extends 'base.html' %}
{% block content %}

    <style>
        .input{width:200px;overflow:hidden}
    </style>
    <form method="post" onsubmit="return check()">
        <table>
            <tr>
                <td>Merchandise ID: </td>
                <td>
                    <input type="text" id="merchandise_id" name="merchandise_id" class="input" required/>
                </td>
            </tr>
            <tr>
                <td>Name: </td>
                <td>
                    <input type="text" id="name" name="name" class="input" required/>
                </td>
            </tr>
            <tr>
                <td>Unit Price: </td>
                <td>
                    <input type="text" id="unit_price" name="unit_price" class="input" required/>
                </td>
            </tr>
            <tr>
                <td>Supplyer ID: </td>
                <td>
                    <input type="text" id="supplyer_id" name="supplyer_id" class="input" required/>
                </td>
            </tr>
            <tr>
                <td>Description: </td>
                <td>
                    <input type="text" id="description" name="description" class="input" required/>
                </td>
            </tr>
            <tr>
                <td>Comment: </td>
                <td>
                    <input type="text" id="comment" name="comment" class="input"/>
                </td>
            </tr>
        </table>
        <input type="submit" name="submit" value="提交"/>
    </form>

    <!-- Optional JavaScript -->
    <script src="https://static.dutbit.com/md5.js"></script>

{% endblock %}
