{% extends 'base.html' %}
{% block content %}

    <style>
        .input{width:100px;overflow:hidden}
    </style>
    <form method="GET">
        Staff ID: <input type="text" name="staff_id" class="input"/>
        Name: <input type="text" name="name" class="input"/>
        Level: <input type="text" name="level" class="input"/>
        Telephone: <input type="text" name="telephone" class="input"/>
        Salary: <input type="text" name="salary" class="input"/>
        Comment: <input type="text" name="comment" class="input"/>
        <input type="submit" name="submit"/>
    </form>
    <a href="{{url_for('manage.staff_add')}}">
        <button>增加员工</button>
    </a>
    <table>
        <tr>
            <th>Staff ID</th>
            <th>Name</th>
            <th>Level</th>
            <th>Telephone</th>
            <th>Salary</th>
            <th>Comment</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{item.staff_id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.level}}</td>
            <td>{{item.telephone}}</td>
            <td>{{item.salary}}</td>
            <td>{{item.comment if item.comment else ''}}</td>
            <td>
                <a href="/manage/staff/modify/{{item.id}}">
                    <button>修改</button>
                </a>
            </td>
            <td>
                <button onclick="ondelete({{item.id}})">删除</button>
            </td>
        </tr>
        {% endfor %}
    </table>

    <!-- Optional JavaScript -->
    <script>
        function ondelete(id)
        {
            $.ajax({
                url: '/manage/staff/del/' + id,
                type: 'DELETE',
                success: function(result) {
                    console.log(result)
                    if (result === 'succeed')
                    {
                        window.location.href = "{{url_for('manage.staff_query', result='删除成功')}}"
                    }
                    else if (result === 'fail')
                    {
                        window.location.href = "{{url_for('manage.staff_query', result='删除失败')}}"
                    }
                },
                error: function(result) {
                    console.log(result)
                }
            });
        }

    </script>

{% endblock %}
