<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script>
     
    </script>
    <title>manage-supplyer-modify</title>
</head>

<body>
    <h1>供应商修改</h1>
    <p>这是一个测试</p>
    <p>供应商编号是******</p>
    供应商名称<input type="text" name="name"><br>
    供应商简称<input type="text" name="abbr"><br>
    地址<input type="text" name="address"><br>
    公司电话<input type="text" name="phone"><br>
    邮件<input type="text" name="email"><br>
    联系人<input type="text" name="person"><br>
    联系人电话<input type="text" name="person-phone"><br>
    备注<input type="text" name="remarks"><br>
    <button type="button" onclick="alert('查询供应商测试输出——显示供应商编号')">
        修改供应商
    </button>
</body>

</html>
